#root {
  width: 97vw;
  height: 100vh;
  display: flex;

  text-align: center;
  justify-content: center;
}

:root {
  --main-container-width: calc(100vw - var(--sidebar-width) - 350px);
}

.layout {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.layout-bottom {
  display: flex;
  flex-direction: row;

  height: 100vh;

  column-gap: 20px;
}


/* MAIN CONTAINER */

.main-ctn {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  width: var(--main-container-width);
  box-sizing: border-box;
}


/* LOADING */

.loading {
  display: flex;
  height: 70%;
  width: 50%;

  align-items: center;
  justify-content: center;
}



/* EXTRAS */

.invert {
  filter: invert(1);
}

.sidebar-icon {
  height: 24px;
  width: 24px;

  color: var(--text-primary)
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 250ms ease-in-out forwards;
}

.center {
  align-items: center;
  justify-content: center;
}