/* HEADER */

.header {
  position: fixed;
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  margin: 0 auto;

  min-width: 320px;
  max-width: 1160px;
  min-height: 75px;

  /* background-color: var(--background-secondary); */
}

.header h2 {
  font-family: "Montserrat Subrayada";
  margin: 0 0;

  height: 60px;
  display: flex;
  align-items: center;
}

.header-btn {
  width: 24px;
  height: 24px;
  color: var(--text-primary);
}

.sidebar-btn {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;

  background: var(--background-primary);
  border: none;
  
  border-radius: 17px;

  transition: background-color 250ms;
}

.sidebar-btn:hover {
  background-color: var(--background-secondary);
  border: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 11px;
}