.mini-sidebar {
  width: 90px;
}

.mini-sidebar-link {
  display: flex;
  height: 4vh;

  padding: 20px 15px;
  margin: 5px 15px;

  border-radius: 10px;
  
  transition: 
    background-color 250ms;
}

.mini-sidebar-link:hover {
  background-color: var(--background-secondary);
}