.mini-sidebar {
  width: var(--sidebar-width);
}

.mini-sidebar-link {
  display: flex;
  height: 4vh;
  width: 30px;

  padding: 10px 10px;
  margin: 30px 15px;
  margin-top: 10px;

  border-radius: 10px;

  align-items: center;
  justify-content: center;
  
  transition: 
    background-color 250ms;
}

.mini-sidebar-link:hover {
  background-color: var(--background-secondary);
}