.post {
  display: flex;
  flex-direction: column;

  height: 150px;

  background-color: var(--background-secondary);

  border-radius: 15px;
  
  padding: 10px 20px;
  margin: 10px 10px;
}

.post-ctn {
  display: flex;
  flex-direction: column;
  justify-content: left;

  height: 80%;
}

.post-name {
  justify-self: left;

  padding-right: 10px;
}

.post-title {
  text-align: left;
}

.post-body {
  height: 100%;

  color: var(--text-secondary);

  overflow: hidden;

  text-align: left;
}

.bottom {
  display: flex;
  flex-direction: row;

  align-items: center;

  
  height: 20%;
}

.post-date {
  color: var(--text-secondary);
  margin-right: 20px;

  width: 200px;
}

.post-upvote {
  padding-right: 10px;
}

.post-upvote-button {
  width: max-content;
  font-family: 'Montserrat';
  
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: 0px;

  padding: 5px 5px;
}

.info {
  display: flex;
  flex-direction: row;
}