:root {
  --sidebar-width: 13vw;
}

.sidebar {
  width: var(--sidebar-width);
}

.sidebar-link {
  display: flex;
  padding: 20px 15px;
  margin: 5px 15px;

  border-radius: 10px;

  transition: 
    background-color 250ms;
}

.sidebar-link:hover, .mini-sidebar-link:hover {
  color: var(--text-secondary);
  background-color: var(--background-secondary);
}

.sidebar-link-text {
  margin-left: 20px;
  height: 4vh;

  font-size: large;
}

.sidebar-btn {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;

  background: var(--background-primary);
  border: none;
  
  border-radius: 17px;

  transition: background-color 250ms;
}

.sidebar-btn:hover {
  background-color: var(--background-secondary);
  border: none;
}